a.is-active {
    .chatroom__card {
        background: #e6f1f3;
    }
}

.chatroom__card {
    height: 60px;
    color: black;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;

    &:hover {
        background: #e6f1f3;

        .card__messageCount {
            display: block;
        }
    }

    .card__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        -webkit-text-stroke: 1px white;
        position: relative;
        flex-shrink: 0;
    }

    .card__messageCount {
        display: none;
        position: absolute;
        top: -8px;
        right: -5px;
        font-size: 14px;
        background: #3bc12b;
        padding: 3px;
        border-radius: 5px;
    }

    .card__info {
        padding: 0 13px;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: bold;
            font-size: 16px;
        }

        p {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 15px;
            font-style: italic;
        }
    }

    .card__timestamp {
        position: relative;
        height: 100%;
        span {
            position: absolute;
            top: 0px;
            right: 13px;
            white-space: nowrap;
            font-size: 12px;
        }
    }
}
